*
!docker/
!docker/Dockerfile
!fmod/
!fmod/*.c
!fmod/Makefile
!fmod/patch_celeste.sh
!fmod/README.md
!otherlibs/Makefile
!otherlibs/README.md
!.gitattributes
!.gitignore
!build.sh
!Celeste
!download-fmod.sh
!make-release.sh
!patch.sh
!photo.png
!README.md
!.github/
!.github/workflows/
!.github/workflows/build.yaml
